absl-py==0.10.0
astor==0.8.1
decorator==4.4.2
gast==0.4.0
Gooey==1.0.5
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
imageio==2.9.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
networkx==2.5
nibabel==3.2.0
numpy==1.19.2
Pillow==8.0.0
protobuf==3.13.0
psutil==5.7.2
pyinstaller==4.0
pytest==6.1.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy==1.5.3
six==1.15.0
tensorboard==2.3.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.12.1
wxPython==4.0.7.post2
