name: New Release

# Controls when the action will run.
on:
  push:
    tags:
    - 'v*'

jobs:
  windows_package:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_gui.txt
          mkdir models
          cd models
          curl.exe -o renal_segmentor.h5 https://zenodo.org/record/4894406/files/whole_kidney_cnn.model
          cd ..
      - name: Run PyInstaller
        run: pyinstaller renal_segmentor.spec
      - name: Upload binaries to action
        uses: actions/upload-artifact@v5
        with:
          name: windows_binary
          path: dist/renal_segmentor.exe

  release:
    needs: [windows_package]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download Artifacts
        uses: actions/download-artifact@v5
      - name: Release
        uses: docker://antonyurchenko/git-release:v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DRAFT_RELEASE: "false"
          PRE_RELEASE: "false"
          CHANGELOG_FILE: "CHANGELOG.md"
          ALLOW_EMPTY_CHANGELOG: "false"
        with:
          args: |
            windows_binary/renal_segmentor.exe
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine wheel
      - name: Build binary wheel and a source tarball
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TEST_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}